<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Draw date</th>
      <th>Result 1</th>
      <th>Result 2</th>
      <th>Result 3</th>
      <th>Result 4</th>
      <th>Result 5</th>
      <th>Result 6</th>
      <th>Winners</th>
      <th>Jackpot price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.draw_date %></td>
        <td><%= result.result_1 %></td>
        <td><%= result.result_2 %></td>
        <td><%= result.result_3 %></td>
        <td><%= result.result_4 %></td>
        <td><%= result.result_5 %></td>
        <td><%= result.result_6 %></td>
        <td><%= result.winners %></td>
        <td><%= result.jackpot_price %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
