<p id="notice"><%= notice %></p>

<p>
  <strong>Draw date:</strong>
  <%= @result.draw_date %>
</p>

<p>
  <strong>Result 1:</strong>
  <%= @result.result_1 %>
</p>

<p>
  <strong>Result 2:</strong>
  <%= @result.result_2 %>
</p>

<p>
  <strong>Result 3:</strong>
  <%= @result.result_3 %>
</p>

<p>
  <strong>Result 4:</strong>
  <%= @result.result_4 %>
</p>

<p>
  <strong>Result 5:</strong>
  <%= @result.result_5 %>
</p>

<p>
  <strong>Result 6:</strong>
  <%= @result.result_6 %>
</p>

<p>
  <strong>Winners:</strong>
  <%= @result.winners %>
</p>

<p>
  <strong>Jackpot price:</strong>
  <%= @result.jackpot_price %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
